* {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 200px 1fr;
}

.header {
  background-color: rgb(255, 255, 255);
  grid-area: 1 / 2 / 2 / 3;
  padding: 20px 45px;
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}

.search {
  display: grid;
  grid-template-columns: 0.2fr 5fr;
  align-items: center;
}

#search-input {
  background-color: rgb(226, 224, 224);
  border: none;
  border-radius: 20px;
  line-height: 20px;
  width: min(100%, 500px);
  padding: 0 15px;
  font-weight: bold;
}

.profile {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 25px;
}

.profile > a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.profile-picture {
  height: 40px;
  width: 40px;
  border-radius: 25px;
}

.greeting {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 10px;
  row-gap: 5px;
  align-items: center;
  font-weight: bold;
  font-size: 0.8rem;
}

.greeting .profile-picture {
  height: 50px;
  width: 50px;
}

.profile-link {
  grid-row-start: 1;
  grid-row-end: -1;
}

.greeting > p {
  align-self: end;
  grid-area: 1 / 2 / 2 / 3;
}

.greeting > h2 {
  align-self: start;
  grid-area: 2 / 2 / 3 / 3;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  align-items: center;
  justify-content: end;
  gap: 10px;
}

.buttons > button {
  background-color: rgb(93, 163, 230);
  color: white;
  border-radius: 25px;
  border: none;
  padding: 10px;
  font-weight: bold;
}

.buttons > button:hover {
  color: black;
}

.sidebar {
  background-color: rgb(72, 162, 235);
  color: white;
  grid-area: 1 / 1 / -1 / 2;
  display: grid;
  grid-template-rows: min-content min-content min-content;
  gap: 40px;
  padding: 15px;
  position: sticky;
  top: 0;
  height: 100vh;
}

.main-content {
  background-color: rgb(223, 219, 219);
  grid-area: 2 / 2 / 3 / 3;
}

.nav-header {
  display: grid;
  justify-content: start;
  padding: 5px;
  grid-template-columns: min-content 1fr;
  align-items: center;
  gap: 10px;
}

.nav-header > img {
  height: 35px;
  width: 35px;
}

.dash-svg {
  height: 20px;
  width: 20px;
}

.filter-white {
  filter: invert(100%) sepia(0%) saturate(800%) hue-rotate(305deg) brightness(113%) contrast(101%);
}

.nav-link {
  display: grid;
  justify-content: start;
  padding: 5px;
  grid-template-columns: min-content 1fr;
  align-items: center;
  gap: 10px;
}

.nav-link > a {
  display: flex;
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  align-items: flex-start;
  gap: 25px;
}

.nav-link > a:hover {
  filter: invert(98%) sepia(75%) saturate(292%) hue-rotate(301deg) brightness(109%) contrast(92%);
}

.main-content {
  padding: 20px 15px;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.main-content h2 {
  font-size: 1rem;
}

.right-column {
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 250px;
  row-gap: 20px;
  padding: 25px;
  justify-content: center;
}

.announcements {
  display: grid;
  grid-template-rows: min-content 1fr;
  gap: 20px;
}

.announcements-panel {
  background: white;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(109, 109, 109);
  font-size: 0.9rem;
  padding: 15px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.announcement > h3 {
  font-size: 0.9rem;
}

.announcement {
  padding: 15px;
}

.announcement:nth-child(2) {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

.trending {
  display: grid;
  grid-template-rows: min-content 1fr;
  gap: 20px;
}

.trending-panel {
  background: white;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(109, 109, 109);
}

.projects {
  display: grid;
  grid-template-rows: 20px repeat(4, 300px);
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  row-gap: 20px;
  column-gap: 25px;
  padding: 25px;
  font-size: 0.9rem;
}

.project-header {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.project {
  background-color: white;
  border-radius: 10px;
  border-left: 10px solid rgb(250, 171, 2);
  box-shadow: 5px 5px 5px rgb(109, 109, 109);
  padding: 30px 20px;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  line-height: 20px;
}

.project-links {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 20px;
}

.project-links img {
  height: 30px;
  width: 30px;
}
