* {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 250px 1fr;
  grid-template-rows: minmax(150px, 1fr) 4fr;
}

.header {
  background-color: rgb(255, 255, 255);
  grid-area: 1 / 2 / 2 / 3;
}

.sidebar {
  background-color: rgb(72, 162, 235);
  color: white;
  grid-area: 1 / 1 / -1 / 2;
  display: grid;
  grid-template-rows: 0.1fr 0.4fr 1fr;
  gap: 40px;
  padding: 15px;
}

.main-content {
  background-color: rgb(223, 219, 219);
  grid-area: 2 / 2 / 3 / 3;
}

.nav-header {
  display: grid;
  justify-content: start;
  padding: 5px;
  grid-template-columns: min-content 1fr;
  align-items: center;
  gap: 10px;
}

.nav-header > img {
  height: 35px;
  width: 35px;
}

.dash-svg {
  height: 20px;
  width: 20px;
}

.filter-white {
  filter: invert(100%) sepia(0%) saturate(800%) hue-rotate(305deg) brightness(113%) contrast(101%);
}

.nav-link {
  display: grid;
  justify-content: start;
  padding: 5px;
  grid-template-columns: min-content 1fr;
  align-items: center;
  gap: 10px;
}

.nav-link > a {
  display: flex;
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  align-items: flex-start;
  gap: 25px;
}

.nav-link > a:hover {
  filter: invert(98%) sepia(75%) saturate(292%) hue-rotate(301deg) brightness(109%) contrast(92%);
}
