* {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: minmax(200px, 1fr) 4fr;
  grid-template-rows: minmax(150px, 1fr) 4fr;
}

.container > div {
  text-align: center;
  padding: 25px;
}

.header {
  background-color: rgb(255, 255, 255);
  grid-area: 1 / 2 / 2 / 3;
}

.sidebar {
  background-color: rgb(72, 162, 235);
  grid-area: 1 / 1 / -1 / 2;
}

.main-content {
  background-color: rgb(223, 219, 219);
  grid-area: 2 / 2 / 3 / 3;
}
